<!--CRUD - READ-->

<%- include('partials/header')%>

    <!-----------TITLE-------------->
    <h1 class="text-center my-5">There are <b class="text-success">
            <%= data.length %>
        </b> cats available for adoption</h1>
    <div class="container mx-auto">
        <div class="row">

            <% for (let cat of data) { %>
                <div class="col">
                    <table class="table">
                        <tbody>
                            <% for (let key in cat) { %>

                                <% if (key==='img' ){ %>
                                    <tr>
                                        <td colspan="2">
                                            <img class="img-thumbnail mx-auto d-block mb-4" src="<%= cat[key] %>"
                                                alt="">
                                        </td>
                                    </tr>
                                    <% } else if (key==='feeIncludes' ){ %>
                                        <tr>
                                            <td>
                                                <h2 class="h5 key">INCLUDED IN ADOPTION FEE</h2>
                                            </td>

                                            <td>
                                                <% if (!Array.isArray(cat[key])) { %>
                                                    <li>
                                                        <%= cat[key] %>
                                                    </li>
                                                    <%} else { %>
                                                        <ul>
                                                            <% for(let item of cat[key]){ %>
                                                                <li class="adoptionFeeItem valueItem">
                                                                    <%= item %>
                                                                </li>
                                                                <% } %>
                                                        </ul>
                                                        <% } %>
                                            </td>
                                        </tr>
                                        <% } else if (key==='id' ) { %>
                                            <tr class="">
                                                <td colspan="2" class="text-center"><a
                                                        class="text-decoration-none text-white"
                                                        href="/posts/<%= cat[key]%>"><button
                                                            class="btn bg-light text-primary">More Details</button>
                                                    </a></td>

                                            </tr>
                                            <% } else { %>
                                                <tr>
                                                    <td>
                                                        <h2 class="h5 key">
                                                            <%= key.toUpperCase() %>
                                                        </h2>
                                                    </td>

                                                    <td>
                                                        <h2 class="h5 value mb-0">
                                                            <%= cat[key] %>
                                                        </h2>
                                                    </td>
                                                </tr>

                                                <% } } %>
                        </tbody>
                    </table>
                </div>
                <% } %>


        </div>
    </div>
    </body>

    </html>